:root {
  line-height: 1.5;
  font-weight: 400;
}

* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #f1f1f1;
}

#root {
  height: 100vh;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 40px;

  height: 100%;

  @media only screen and (max-width: 740px) {
    flex-direction: column;
  }
}
